@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.5rem;

  --hue: 225;
  --accent-hue: 345;
  --brand-primary-hue: 290;
  --brand-secondary-hue: 334;
  --btn-hover-hue: 262;
  --error-hue: 340;

  --background: hsl(var(--hue), 10%, 98%); /* body */
  --foreground: hsl(var(--hue), 10%, 10%); /* main text */

  --inversed-background: hsl(var(--hue), 10%, 10%); /* main text */
  --inversed-foreground: hsl(var(--hue), 10%, 98%); /* body */

  --accent: hsl(var(--accent-hue), 83%, 52%);
  --accent-foreground: hsl(var(--hue), 10%, 100%);

  --brand: hsl(
    var(--brand-primary-hue),
    67%,
    47%
  ); /* human's chat message bg start */
  --brand-secondary: hsl(
    var(--brand-secondary-hue),
    74%,
    55%
  ); /* human's chat message bg stop */
  --brand-foreground: hsl(0, 0%, 100%);

  --btn-foreground: hsl(var(--hue), 10%, 85%);
  --btn-background: hsl(var(--hue), 10%, 15%);
  --btn-foreground-hover: hsl(var(--hue), 10%, 100%);
  --btn-background-hover: hsl(var(--btn-hover-hue), 65%, 50%);

  --btn-secondary-foreground: hsl(var(--hue), 10%, 50%);
  --btn-secondary-background: hsl(var(--hue), 10%, 100%);
  --btn-secondary-foreground-hover: hsl(var(--hue), 10%, 100%);
  --btn-secondary-background-hover: hsl(var(--btn-hover-hue), 65%, 50%);

  --btn-accent-foreground: hsl(var(--hue), 10%, 100%);
  --btn-accent-background: hsl(var(--brand-primary-hue), 100%, 50%);
  --btn-accent-foreground-hover: hsl(var(--hue), 10%, 100%);
  --btn-accent-background-hover: hsl(var(--brand-secondary-hue), 75%, 55%);

  --input: hsl(var(--hue), 10%, 100%);
  --input-border: hsl(var(--hue), 10%, 94%);
  --input-autofill: hsl(var(--hue), 10%, 97%);

  --card: hsl(var(--hue), 10%, 100%);
  --ai-message: hsl(var(--hue), 10%, 100%);

  --popover: hsl(var(--hue), 10%, 100%); /* dropdown menu */
  --popover-foreground: hsl(var(--hue), 10%, 45%);
  --popover-focus: hsl(var(--hue), 10%, 95%);

  --error: hsl(var(--error-hue), 83%, 47%);

  --topbar: hsla(var(--hue), 10%, 100%);
  --title: hsl(var(--brand-primary-hue), 100%, 45%);
  --area: hsl(var(--hue), 10%, 92%); /* auth, sidebar */
  --muted: hsl(var(--hue), 10%, 50%);
  --border: hsl(var(--hue), 10%, 92%);
  --icon: hsl(var(--hue), 10%, 40%);
  --ring: hsl(var(--hue), 10%, 15%);
  --scroll: hsl(var(--hue), 10%, 85%);
}

.dark {
  --background: hsl(var(--hue), 10%, 10%);
  --foreground: hsl(var(--hue), 10%, 95%);

  --inversed-background: hsl(var(--hue), 10%, 95%);
  --inversed-foreground: hsl(var(--hue), 10%, 5%);

  --accent: hsl(var(--accent-hue), 83%, 47%);

  --brand: hsl(var(--brand-primary-hue), 83%, 31%);
  --brand-secondary: hsl(var(--brand-secondary-hue), 76%, 37%);
  --brand-foreground: hsl(0, 0%, 100%);

  --btn-foreground: hsl(var(--hue), 10%, 0%);
  --btn-background: hsl(var(--hue), 10%, 90%);
  --btn-foreground-hover: hsl(var(--hue), 10%, 100%);
  --btn-background-hover: hsl(var(--btn-hover-hue), 65%, 45%);

  --btn-secondary-foreground: hsl(var(--hue), 10%, 60%);
  --btn-secondary-background: hsl(var(--hue), 10%, 15%);
  --btn-secondary-foreground-hover: hsl(var(--hue), 10%, 100%);
  --btn-secondary-background-hover: hsl(var(--btn-hover-hue), 65%, 45%);

  --btn-accent-foreground: hsl(var(--hue), 10%, 100%);
  --btn-accent-background: hsl(var(--brand-primary-hue), 100%, 35%);
  --btn-accent-foreground-hover: hsl(var(--hue), 10%, 100%);
  --btn-accent-background-hover: hsl(var(--btn-hover-hue), 65%, 40%);

  --input: hsl(var(--hue), 10%, 15%);
  --input-border: hsl(var(--hue), 10%, 20%);
  --input-autofill: hsl(var(--hue), 10%, 20%);

  --card: hsl(var(--hue), 10%, 10%);
  --ai-message: hsla(var(--hue), 10%, 15%, 0.6);

  --popover: hsl(var(--hue), 10%, 15%);
  --popover-foreground: hsl(var(--hue), 10%, 85%);
  --popover-focus: hsl(var(--hue), 10%, 15%);

  --error: hsl(var(--error-hue), 100%, 60%);

  --topbar: hsl(var(--hue), 10%, 20%);
  --title: hsl(var(--brand-primary-hue), 100%, 60%);
  --area: hsl(var(--hue), 10%, 5%);
  --muted: hsl(var(--hue), 10%, 55%);
  --border: hsl(var(--hue), 10%, 20%);
  --icon: hsl(var(--hue), 10%, 75%);
  --ring: hsl(var(--hue), 10%, 45%);
  --scroll: hsl(var(--hue), 10%, 25%);
}

@theme inline {
  --font-sans: var(--font-mulish-sans);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-inversed-background: var(--inversed-background);
  --color-inversed-foreground: var(--inversed-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-brand: var(--brand);
  --color-brand-secondary: var(--brand-secondary);
  --color-brand-foreground: var(--brand-foreground);

  --color-btn-foreground: var(--btn-foreground);
  --color-btn-foreground-hover: var(--btn-foreground-hover);
  --color-btn-background: var(--btn-background);
  --color-btn-background-hover: var(--btn-background-hover);

  --color-btn-secondary-foreground: var(--btn-secondary-foreground);
  --color-btn-secondary-foreground-hover: var(--btn-secondary-foreground-hover);
  --color-btn-secondary-background: var(--btn-secondary-background);
  --color-btn-secondary-background-hover: var(--btn-secondary-background-hover);

  --color-btn-accent-foreground: var(--btn-accent-foreground);
  --color-btn-accent-foreground-hover: var(--btn-accent-foreground-hover);
  --color-btn-accent-background: var(--btn-accent-background);
  --color-btn-accent-background-hover: var(--btn-accent-background-hover);

  --color-input: var(--input);
  --color-input-border: var(--input-border);
  --color-input-autofill: var(--input-autofill);

  --color-card: var(--card);
  --color-ai-message: var(--ai-message);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover-focus: var(--popover-focus);

  --color-error: var(--error);

  --color-topbar: var(--topbar);
  --color-title: var(--title);
  --color-area: var(--area);
  --color-muted: var(--muted);
  --color-border: var(--border);
  --color-icon: var(--icon);
  --color-ring: var(--ring);
  --color-scroll: var(--scroll);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

.fade-circle {
  mask: radial-gradient(
    circle,
    black 20%,
    rgba(0, 0, 0, 0.4) 40%,
    rgba(0, 0, 0, 0) 60%,
    transparent 100%
  );
}

@layer base {
  * {
    @apply border-border outline-none;
  }

  html,
  body {
    @apply h-full font-sans text-foreground bg-background transition-colors duration-300;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  h1,
  h2,
  h3 {
    @apply tracking-tight scroll-m-20 cursor-default;
  }

  h1 {
    @apply font-semibold text-4xl lg:text-5xl text-foreground/90;
  }

  h2,
  h3 {
    @apply font-bold first:mt-0;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-xl;
  }

  p {
    @apply leading-6 [&:not(:first-child)]:mt-4;
  }

  a {
    @apply font-medium;
  }

  .link {
    @apply underline underline-offset-4;
  }

  button:focus-visible {
    outline: none;
  }

  ::selection {
    @apply bg-accent text-white;
  }
}

@layer layout {
  :root {
    /* --sidebar-w: 56px; */
    --gap: 16px;
    --gap-1-4: 4px;
    --gap-1-2: 8px;
    --gap-3-4: 12px;
  }

  .layout {
    @apply relative flex h-full;
  }

  /* main {
    @apply flex flex-1;
  } */

  .sidebar {
    width: 0;
  }

  .column-stack {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
  }

  .main-menu--fixed {
    @apply fixed top-7 left-4 z-10;
  }

  @media only screen and (max-height: 767px) {
    .main-menu--fixed {
      @apply top-5;
    }
  }
}

@layer components {
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 100px var(--input-autofill) inset !important;
    -webkit-text-fill-color: var(--foreground) !important;
  }

  /* Animations */

  .fade {
    animation: fade 0.25s ease-out;
  }

  .fade--delayed {
    animation: fade 0.25s ease-out;
    animation-delay: 1000;
  }

  .flip-x {
    transform: scaleX(-1);
  }

  /* Custom transitions */

  .trans-a {
    @apply transition-all duration-300;
  }

  .trans-c {
    @apply transition-colors duration-300;
  }

  .trans-o {
    @apply transition-opacity duration-300;
  }

  .card {
    @apply rounded-xl bg-card shadow-sm transition-colors duration-300;
  }

  .space {
    flex-grow: 1;
  }

  .clickable {
    @apply cursor-pointer;
  }

  .inactive {
    @apply !pointer-events-none !text-muted;
  }

  .inactive button {
    @apply opacity-5;
  }

  .form-loading {
    transition: opacity 0.2s ease;
  }

  .icon,
  .icon--action {
    @apply text-icon;
  }

  .icon--menu {
    @apply text-icon/60;
  }

  .icon--action {
    @apply cursor-pointer opacity-40 hover:opacity-100 transition-opacity;
  }

  .loading {
    animation: fade 1s ease both;
  }

  /* Auth form */

  .auth-form {
    @apply relative w-64 flex flex-col gap-4 transition-opacity;
  }

  .inactive {
    @apply opacity-40 pointer-events-none;
  }

  .auth-form_button {
    @apply w-full mt-1;
  }

  .auth-form_link {
    @apply mt-4 text-center text-sm text-muted hover:text-foreground transition-colors;
  }

  .form-control-with-icon input {
    @apply pr-9!;
  }

  /* Typing */
  .typing {
    @apply flex items-center;
  }

  .typing_circle {
    @apply w-2 h-2 rounded-xl bg-foreground/80 transition-all;
    animation: typing 1s ease-in-out infinite both;
  }
}

@layer chat {
  :root {
    --bar-h: 64px;
    --person-card-w: 188px;
    --avatar: 56px;
    --topbar-h: var(--bar-h);
    /* --chat-input-h: var(--bar-h); */
  }

  @media only screen and (min-height: 768px) {
    :root {
      --bar-h: 80px;
    }
  }

  .chat,
  .chat .topbar,
  .chat-messages,
  .chat-input {
    @apply relative;
  }

  .chat .topbar,
  .chat-messages,
  .chat-input {
    @apply z-10;
  }

  .topbar {
    @apply bg-topbar/40 transition-colors duration-300;
    height: var(--topbar-h);
    min-height: var(--topbar-h);
  }

  .chat-container {
    width: 100%;
    max-width: 720px;
    padding-right: var(--gap-1-2);
    padding-left: var(--gap-1-2);
  }

  .column-stack,
  .chat-input {
    box-sizing: border-box;
  }

  .chat-list,
  .chat,
  .new-chat {
    @apply flex flex-col;
  }

  .chat-list,
  .chat {
    @apply w-dvw;
  }

  .new-chat {
    @apply w-full;
  }

  .chat-list,
  .chat-details {
    @apply bg-area cursor-default transition-colors duration-300;
  }

  /* List */

  .chat-list {
    align-items: stretch;
  }

  .chat-list[data-new-chat='true'] {
    @apply hidden;
  }

  /* Item */

  .chat-item {
    @apply select-none transition-colors duration-300 mt-0.5;
    padding: var(--gap);
  }

  .chat-item:not(.active) {
    cursor: pointer;
  }

  .chat-item:not(.active):hover {
    @apply bg-background/70;
  }

  .chat-item_avatar-wrapper {
    @apply relative w-[var(--avatar)] h-[var(--avatar)] shrink-0;
  }

  .chat-item_avatar-wrapper .avatar {
    @apply w-full h-full;
  }

  .chat {
    @apply items-center;
  }

  .chat-note {
    @apply flex flex-col items-center justify-center w-full;
  }

  .chat .topbar {
    align-self: stretch;
  }

  .chat-messages {
    /* height: calc(100dvh - (var(--topbar-h) + var(--chat-input-h))); */
    @apply flex-1;
  }

  .chat-message {
    position: relative;
    margin-top: var(--gap-1-2);
    /* user-select: none; */
  }

  .chat-message:last-child {
    margin-bottom: var(--gap-1-4);
  }

  .chat-message .typing {
    @apply ml-2 my-4;
  }

  .chat-message[data-role='human'] {
    @apply justify-end;
  }

  .chat-message_content {
    @apply relative py-4 px-6 rounded-[32px] cursor-default transition-colors duration-300;
  }

  .chat-message_translation {
    @apply mt-2 text-muted leading-snug;
  }

  .chat-message_translate-button {
    @apply opacity-0 z-10 absolute top-0 right-0 w-7 h-7 bg-btn-secondary-background rounded-full ring-4 ring-background transition-all duration-300;
  }

  .chat-message[data-role='ai']:hover .chat-message_translate-button {
    @apply opacity-100;
  }

  .chat-message[data-role='ai'] .chat-message_content {
    @apply bg-ai-message ml-11 sm:mr-10 rounded-tl-3xl!;
  }

  .dark .chat-message[data-role='ai'] .chat-message_content {
    @apply bg-ai-message;
  }

  .chat-message[data-role='human'] .chat-message_content {
    @apply bg-gradient-to-r from-brand to-brand-secondary text-brand-foreground font-medium ml-11;
    border-bottom-right-radius: 0;
  }

  .chat-message .avatar {
    @apply absolute top-[-1px] left-0 z-10 w-14 h-14 shrink-0;
  }

  .chat-message[data-role='ai'] .shadow-avatar {
    @apply absolute z-20 opacity-0 left-2 -top-18 transition-opacity duration-300 pointer-events-none scale-[2.5];
  }

  @media only screen and (min-width: 800px) {
    .chat-message[data-role='ai'] .shadow-avatar[data-shadow='true'] {
      @apply dark:opacity-10;
    }

    .chat-message[data-role='human'] .chat-message_content {
      @apply dark:ml-30;
    }
  }

  /* Input */

  .chat-input {
    @apply h-20 flex items-center gap-2;
    /* height: var(--chat-input-h); */
  }

  .chat-input input {
    @apply focus-visible:ring-0;
  }

  /* Notification */

  .chat-notification {
    display: none;
  }

  /* Background */

  .chat_bg-image {
    @apply absolute inset-0 z-0 flex flex-col items-center justify-center overflow-hidden transition-opacity duration-1000;
  }

  .chat_bg-image[data-active='false'] {
    opacity: 0;
  }

  .light .chat_bg-image[data-active='true'] {
    opacity: 0.25;
  }

  .dark .chat_bg-image[data-active='true'] {
    opacity: 0.15;
  }

  .chat_bg-image img {
    min-width: 900px;
    animation: fade 1s ease-in;
  }

  /* Details */

  .chat-details {
    display: none;
  }

  /* New Chat */

  .new-chat-button {
    @apply px-10;
  }

  .new-chat {
    @apply items-center;
    /* max-width: 100dvw; */
    max-width: calc(100dvw - 16px);
  }

  .new-chat .topbar {
    align-self: stretch;
  }

  .new-chat .topbar_header {
    @apply justify-center;
  }

  .new-chat-form,
  .new-chat-form_fields {
    @apply flex flex-col gap-4;
  }

  .new-chat-form {
    @apply p-6 pt-0 transition-all duration-300;
  }

  .new-chat-form[data-active='false'] {
    @apply opacity-0 scale-95;
  }

  .new-chat-form_fields > div {
    @apply w-full;
  }

  .new-chat-form_label {
    @apply text-foreground font-bold pt-2;
  }

  /* People */

  .person-card {
    @apply box-border flex flex-col items-center w-44 cursor-pointer transition-colors;
    scroll-snap-align: center;
  }

  .person-card--selected {
    @apply bg-inversed-background text-inversed-foreground cursor-default;
  }

  .person-card_image {
    @apply rounded-xl w-36 h-44 text-muted overflow-hidden;
    transform: translateY(-1.25rem);
  }

  .person-card_content {
    @apply flex flex-col items-center gap-2 pb-4;
    transform: translateY(-0.25rem);
  }

  .person-card_content > div {
    @apply w-44 px-3 text-center;
  }

  .person-card_description {
    @apply text-sm opacity-70;
  }

  .chat-memory-item {
    @apply relative flex-1 px-6 py-4 rounded-2xl bg-card cursor-default;
  }

  .chat-memory-item_toolbar {
    @apply opacity-0 pointer-events-none absolute top-0 right-0 p-4 flex items-center gap-4 text-sm rounded-tr-2xl bg-card transition-opacity duration-300;
  }

  .chat-memory-item:hover .chat-memory-item_toolbar {
    @apply opacity-100 pointer-events-auto;
  }

  .instant-message_tooltip {
    @apply absolute z-20 top-1 dark:font-semibold w-max max-w-full px-4 py-2 text-inversed-foreground bg-inversed-background rounded-2xl left-1/2 -translate-x-1/2 -translate-y-full pointer-events-none opacity-0  transition-opacity duration-200;
  }

  .instant-message_btn:hover .instant-message_tooltip {
    @apply pointer-events-auto opacity-100;
  }

  /* ChatMedia */

  .chat-media_minimizer {
    @apply absolute z-20 w-32 top-2 left-1/2 -translate-x-1/2 text-sm text-muted pointer-events-auto cursor-pointer;
  }

  .chat-media_icon {
    @apply opacity-0 pointer-events-none w-10 h-10 p-2 rounded-full text-white bg-slate-700/50 dark:bg-background/50 transition-opacity duration-300;
  }

  .chat-media_clickable-area {
    @apply z-10 absolute top-0 inset-x-0 bottom-15 flex justify-end p-2 cursor-pointer;
  }

  .chat-media_clickable-area:hover .chat-media_icon[data-active='true'] {
    @apply opacity-30 pointer-events-auto;
  }

  .chat-media_clickable-area:hover .chat-media_icon[data-active='true']:hover {
    @apply opacity-100;
  }

  .chat-media_main-item {
    @apply relative z-20 transition-all duration-300 overflow-hidden pointer-events-auto;
  }

  .chat-media_navbar {
    @apply opacity-0 pointer-events-none z-20 absolute bottom-0 inset-x-0 flex transition-opacity duration-300;
  }

  .chat-media_main-item:hover .chat-media_navbar[data-active='true'] {
    @apply opacity-100 pointer-events-auto;
  }

  .chat-media_nav-item {
    @apply h-15 w-full flex items-center justify-center cursor-pointer text-white bg-slate-700/50 dark:bg-background/50 transition-opacity duration-300;
  }

  .chat-media_nav-item[data-active='false'] {
    @apply pointer-events-none opacity-0!;
  }

  .chat-media_nav-item[data-active='true'] {
    @apply pointer-events-auto opacity-40 hover:opacity-100;
  }

  .chat-media_nav-item[data-side='left'] {
    @apply pr-1 rounded-tr-2xl;
  }

  .chat-media_nav-item[data-side='right'] {
    @apply pl-1 rounded-tl-2xl;
  }

  .chat-media_item {
    @apply relative hidden w-0;
  }

  .chat-media_image-wrapper {
    @apply relative h-full;
  }

  .chat-media_select-collection {
    @apply absolute -bottom-6 left-1/2 -translate-x-1/2 pointer-events-auto;
  }

  @media only screen and (min-width: 600px) {
    .chat-media_main-item[data-translate='true'] {
      @apply translate-x-20;
    }

    .chat-media_item {
      @apply block h-full absolute left-1/2 overflow-hidden transition-all duration-300;
    }

    .chat-media_item--active {
      @apply opacity-100 w-60 h-120 rounded-2xl scale-75;
    }

    .chat-media_item--inactive {
      @apply opacity-0 scale-0;
    }

    .chat-media_item--inactive[data-key='left'] {
      @apply translate-x-20;
    }

    .chat-media_item--active[data-key='left'] {
      @apply -translate-x-58;
    }

    .chat-media_item--inactive[data-key='right'] {
      @apply -translate-x-50;
    }

    .chat-media_item--active[data-key='right'] {
      @apply -translate-x-2;
    }

    .chat-media_select-collection {
      @apply bottom-8 -translate-x-44;
    }

    .chat-media_new-images {
      @apply absolute left-1/2 pointer-events-auto bottom-8 translate-x-34;
    }
  }

  @media only screen and (min-width: 700px) and (max-width: 880px) {
    .chat-media_item--active:hover {
      @apply z-50;
    }
  }

  @media only screen and (min-width: 800px) {
    .chat-media_item--active[data-key='left'] {
      @apply -translate-x-70;
    }

    .chat-media_item--active[data-key='right'] {
      @apply translate-x-10;
    }
  }

  @media only screen and (min-width: 880px) {
    .chat-media_item--active[data-key='left'] {
      @apply -translate-x-80;
    }

    .chat-media_item--active[data-key='right'] {
      @apply translate-x-20;
    }
  }

  /* ChatMedia end */

  /* @media only screen and (min-height: 768px) {
    .chat-input form {
      transform: translateY(-0.25rem);
    }
  } */

  @media only screen and (max-width: 479px) {
    .chat-list[data-chat='xs'] {
      @apply hidden;
    }
  }

  @media only screen and (min-width: 480px) {
    .chat-list {
      width: 180px;
    }

    .chat-item[data-active='true'] {
      @apply bg-background hover:bg-background cursor-default;
    }

    .chat,
    .new-chat {
      width: 100%;
    }

    .topbar_navback {
      @apply -mr-6;
    }

    .chat .topbar_navback {
      @apply hidden pointer-events-none;
    }

    /* Chat Notification */

    .chat-notification {
      @apply relative overflow-hidden flex flex-col items-center justify-center w-full cursor-default opacity-30 transition-colors;
    }

    .chat-notification_bg {
      position: absolute;
      inline-size: 631px;
      block-size: 329px;
      background: radial-gradient(
        hsl(var(--hue), 100%, 50%),
        hsla(var(--hue), 100%, 50%, 0.5) 30%,
        hsla(var(--hue), 100%, 50%, 0) 85%,
        hsla(var(--hue), 100%, 50%, 0)
      );
      mask: url(/images/dotmask.svg) center center / cover;
      mask-repeat: no-repeat;
    }

    .dark .chat-notification_bg {
      background: radial-gradient(
        hsl(0, 0%, 85%),
        hsla(0, 0%, 85%, 0.5) 30%,
        hsla(0, 0%, 20%, 0) 85%,
        hsla(0, 0%, 85%, 0)
      );
    }

    /* .chat-notification_label {
      @apply absolute m-0 p-2 text-muted bg-background transition-colors;
      inset-block-start: 50%;
      inset-inline-start: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      inline-size: max-content;
      max-inline-size: 90vw;
    } */
  }

  @media only screen and (min-width: 480px) and (max-width: 767px) {
    .chat-item {
      padding-top: var(--gap);
      padding-bottom: var(--gap);
      width: 180px;
    }

    .chat-item_avatar-wrapper {
      width: calc(var(--avatar) / 4 * 3);
      height: calc(var(--avatar) / 4 * 3);
    }

    .new-chat-button {
      @apply px-6 translate-x-2;
    }
  }

  @media only screen and (min-width: 768px) {
    .chat-list {
      width: 280px;
      min-width: 280px;
    }

    .new-chat-form_fields {
      @apply flex-row items-start;
    }

    .new-chat-button {
      @apply px-10;
    }
  }

  @media only screen and (min-width: 960px) {
    .chat-container {
      padding-right: var(--gap);
      padding-left: var(--gap);
    }
  }

  @media only screen and (min-width: 1280px) {
    .chat-list[data-new-chat='true'] {
      @apply flex;
    }

    .chat-list[data-new-chat='true'] .chat-item {
      width: 280px;
    }

    .new-chat .topbar_navback {
      @apply hidden pointer-events-none;
    }

    .chat-details {
      width: 280px;
      min-width: 280px;
      display: flex;
      flex-direction: column;
      align-items: stretch;
    }

    .chat-details_image,
    .chat-details_description {
      @apply transition-opacity duration-500;
    }

    .chat-details_image {
      @apply h-[352px] relative overflow-hidden flex justify-center bg-card/50 text-muted;
    }

    .light .chat-details_image {
      opacity: 0.85;
    }

    .dark .chat-details_image {
      opacity: 0.5;
    }

    .chat-details:hover .chat-details_image {
      opacity: 1;
    }

    .dark .chat-details:hover .chat-details_image {
      opacity: 0.8;
    }

    .chat-details_description {
      @apply text-sm font-medium opacity-60;
    }

    .chat-details:hover .chat-details_description--active {
      opacity: 1;
    }
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes typing {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    transform: scale(0.5, 0.5);
    opacity: 0.1;
  }
}
